<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сlient-form</title>
</head>
<body>
    <h1>Enter your login and password</h1>
    <br>
    <form method="post" action="/login">
        <input type="text"
               name="login"
               placeholder="Account login"/>
        <br>
        <input type="text"
               name="password"
               placeholder="Account password"/>
        <br>
        <input type="submit"/>
    </form>
    <br>
    <a href="/choose-a-role-form">Return to start page</a>
</body>
</html>
